<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.Tab_stylelibraryMapper" >
  <resultMap id="BaseResultMap" type="Tab_stylelibrary" >
    <id column="styleid" property="styleid" jdbcType="INTEGER" />
    <result column="stylenum" property="stylenum" jdbcType="VARCHAR" />
    <result column="stylename" property="stylename" jdbcType="VARCHAR" />
    <result column="describle" property="describle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    styleid, stylenum, stylename, describle
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="Tab_stylelibraryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_stylelibrary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_stylelibrary
    where styleid = #{styleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_stylelibrary
    where styleid = #{styleid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="Tab_stylelibraryExample" >
    delete from tab_stylelibrary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="Tab_stylelibrary" >
    insert into tab_stylelibrary (styleid, stylenum, stylename, 
      describle)
    values (#{styleid,jdbcType=INTEGER}, #{stylenum,jdbcType=VARCHAR}, #{stylename,jdbcType=VARCHAR}, 
      #{describle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Tab_stylelibrary" >
    insert into tab_stylelibrary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        styleid,
      </if>
      <if test="stylenum != null" >
        stylenum,
      </if>
      <if test="stylename != null" >
        stylename,
      </if>
      <if test="describle != null" >
        describle,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="styleid != null" >
        #{styleid,jdbcType=INTEGER},
      </if>
      <if test="stylenum != null" >
        #{stylenum,jdbcType=VARCHAR},
      </if>
      <if test="stylename != null" >
        #{stylename,jdbcType=VARCHAR},
      </if>
      <if test="describle != null" >
        #{describle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="Tab_stylelibraryExample" resultType="java.lang.Integer" >
    select count(*) from tab_stylelibrary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_stylelibrary
    <set >
      <if test="record.styleid != null" >
        styleid = #{record.styleid,jdbcType=INTEGER},
      </if>
      <if test="record.stylenum != null" >
        stylenum = #{record.stylenum,jdbcType=VARCHAR},
      </if>
      <if test="record.stylename != null" >
        stylename = #{record.stylename,jdbcType=VARCHAR},
      </if>
      <if test="record.describle != null" >
        describle = #{record.describle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_stylelibrary
    set styleid = #{record.styleid,jdbcType=INTEGER},
      stylenum = #{record.stylenum,jdbcType=VARCHAR},
      stylename = #{record.stylename,jdbcType=VARCHAR},
      describle = #{record.describle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="Tab_stylelibrary" >
    update tab_stylelibrary
    <set >
      <if test="stylenum != null" >
        stylenum = #{stylenum,jdbcType=VARCHAR},
      </if>
      <if test="stylename != null" >
        stylename = #{stylename,jdbcType=VARCHAR},
      </if>
      <if test="describle != null" >
        describle = #{describle,jdbcType=VARCHAR},
      </if>
    </set>
    where styleid = #{styleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Tab_stylelibrary" >
    update tab_stylelibrary
    set stylenum = #{stylenum,jdbcType=VARCHAR},
      stylename = #{stylename,jdbcType=VARCHAR},
      describle = #{describle,jdbcType=VARCHAR}
    where styleid = #{styleid,jdbcType=INTEGER}
  </update>
</mapper>