<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.Tab_cliprecordMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Tab_cliprecord" >
    <id column="cliprecordid" property="cliprecordid" jdbcType="INTEGER" />
    <result column="salesorder" property="salesorder" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="Double" />
    <result column="numbers" property="numbers" jdbcType="Double" />
    <result column="stocknumber" property="stocknumber" jdbcType="VARCHAR" />
    <result column="stockname" property="stockname" jdbcType="VARCHAR" />
    <result column="stockshuliang" property="stockshuliang" jdbcType="Double" />
    <result column="clipdate" property="clipdate" jdbcType="VARCHAR" />
    <result column="bedtime" property="bedtime" jdbcType="VARCHAR" />
    <result column="cengshu" property="cengshu" jdbcType="INTEGER" />
    <result column="pulldate" property="pulldate" jdbcType="VARCHAR" />
    <result column="releasedate" property="releasedate" jdbcType="VARCHAR" />
    <result column="overdate" property="overdate" jdbcType="VARCHAR" />
    <result column="clipstatus" property="clipstatus" jdbcType="INTEGER" />
    <result column="clipoutdate" property="clipoutdate" jdbcType="VARCHAR" />
    <result column="ponumber" property="ponumber" jdbcType="VARCHAR" />
    <result column="assemblyline" property="assemblyline" jdbcType="VARCHAR" />
    <result column="outlinetime" property="outlinetime" jdbcType="VARCHAR" />
    <result column="outnumber" property="outnumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cliprecordid, salesorder, color, size, numbers, stocknumber, stockname, stockshuliang, 
    clipdate, bedtime, cengshu, pulldate, releasedate, overdate, clipstatus, clipoutdate, 
    ponumber, assemblyline, outlinetime, outnumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.Tab_cliprecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_cliprecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_cliprecord
    where cliprecordid = #{cliprecordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_cliprecord
    where cliprecordid = #{cliprecordid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.Tab_cliprecordExample" >
    delete from tab_cliprecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Tab_cliprecord" >
    insert into tab_cliprecord (cliprecordid, salesorder, color, 
      size, numbers, stocknumber, 
      stockname, stockshuliang, clipdate, 
      bedtime, cengshu, pulldate, 
      releasedate, overdate, clipstatus, 
      clipoutdate, ponumber, assemblyline, 
      outlinetime, outnumber)
    values (#{cliprecordid,jdbcType=INTEGER}, #{salesorder,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{size,jdbcType=Double}, #{numbers,jdbcType=Double}, #{stocknumber,jdbcType=VARCHAR},
      #{stockname,jdbcType=VARCHAR}, #{stockshuliang,jdbcType=Double}, #{clipdate,jdbcType=VARCHAR},
      #{bedtime,jdbcType=VARCHAR}, #{cengshu,jdbcType=INTEGER}, #{pulldate,jdbcType=VARCHAR}, 
      #{releasedate,jdbcType=VARCHAR}, #{overdate,jdbcType=VARCHAR}, #{clipstatus,jdbcType=INTEGER}, 
      #{clipoutdate,jdbcType=VARCHAR}, #{ponumber,jdbcType=VARCHAR}, #{assemblyline,jdbcType=VARCHAR}, 
      #{outlinetime,jdbcType=VARCHAR}, #{outnumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Tab_cliprecord" >
    insert into tab_cliprecord
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cliprecordid != null" >
        cliprecordid,
      </if>
      <if test="salesorder != null" >
        salesorder,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="numbers != null" >
        numbers,
      </if>
      <if test="stocknumber != null" >
        stocknumber,
      </if>
      <if test="stockname != null" >
        stockname,
      </if>
      <if test="stockshuliang != null" >
        stockshuliang,
      </if>
      <if test="clipdate != null" >
        clipdate,
      </if>
      <if test="bedtime != null" >
        bedtime,
      </if>
      <if test="cengshu != null" >
        cengshu,
      </if>
      <if test="pulldate != null" >
        pulldate,
      </if>
      <if test="releasedate != null" >
        releasedate,
      </if>
      <if test="overdate != null" >
        overdate,
      </if>
      <if test="clipstatus != null" >
        clipstatus,
      </if>
      <if test="clipoutdate != null" >
        clipoutdate,
      </if>
      <if test="ponumber != null" >
        ponumber,
      </if>
      <if test="assemblyline != null" >
        assemblyline,
      </if>
      <if test="outlinetime != null" >
        outlinetime,
      </if>
      <if test="outnumber != null" >
        outnumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cliprecordid != null" >
        #{cliprecordid,jdbcType=INTEGER},
      </if>
      <if test="salesorder != null" >
        #{salesorder,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=Double},
      </if>
      <if test="numbers != null" >
        #{numbers,jdbcType=Double},
      </if>
      <if test="stocknumber != null" >
        #{stocknumber,jdbcType=VARCHAR},
      </if>
      <if test="stockname != null" >
        #{stockname,jdbcType=VARCHAR},
      </if>
      <if test="stockshuliang != null" >
        #{stockshuliang,jdbcType=Double},
      </if>
      <if test="clipdate != null" >
        #{clipdate,jdbcType=VARCHAR},
      </if>
      <if test="bedtime != null" >
        #{bedtime,jdbcType=VARCHAR},
      </if>
      <if test="cengshu != null" >
        #{cengshu,jdbcType=INTEGER},
      </if>
      <if test="pulldate != null" >
        #{pulldate,jdbcType=VARCHAR},
      </if>
      <if test="releasedate != null" >
        #{releasedate,jdbcType=VARCHAR},
      </if>
      <if test="overdate != null" >
        #{overdate,jdbcType=VARCHAR},
      </if>
      <if test="clipstatus != null" >
        #{clipstatus,jdbcType=INTEGER},
      </if>
      <if test="clipoutdate != null" >
        #{clipoutdate,jdbcType=VARCHAR},
      </if>
      <if test="ponumber != null" >
        #{ponumber,jdbcType=VARCHAR},
      </if>
      <if test="assemblyline != null" >
        #{assemblyline,jdbcType=VARCHAR},
      </if>
      <if test="outlinetime != null" >
        #{outlinetime,jdbcType=VARCHAR},
      </if>
      <if test="outnumber != null" >
        #{outnumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.Tab_cliprecordExample" resultType="java.lang.Integer" >
    select count(*) from tab_cliprecord
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_cliprecord
    <set >
      <if test="record.cliprecordid != null" >
        cliprecordid = #{record.cliprecordid,jdbcType=INTEGER},
      </if>
      <if test="record.salesorder != null" >
        salesorder = #{record.salesorder,jdbcType=VARCHAR},
      </if>
      <if test="record.color != null" >
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=Double},
      </if>
      <if test="record.numbers != null" >
        numbers = #{record.numbers,jdbcType=Double},
      </if>
      <if test="record.stocknumber != null" >
        stocknumber = #{record.stocknumber,jdbcType=VARCHAR},
      </if>
      <if test="record.stockname != null" >
        stockname = #{record.stockname,jdbcType=VARCHAR},
      </if>
      <if test="record.stockshuliang != null" >
        stockshuliang = #{record.stockshuliang,jdbcType=Double},
      </if>
      <if test="record.clipdate != null" >
        clipdate = #{record.clipdate,jdbcType=VARCHAR},
      </if>
      <if test="record.bedtime != null" >
        bedtime = #{record.bedtime,jdbcType=VARCHAR},
      </if>
      <if test="record.cengshu != null" >
        cengshu = #{record.cengshu,jdbcType=INTEGER},
      </if>
      <if test="record.pulldate != null" >
        pulldate = #{record.pulldate,jdbcType=VARCHAR},
      </if>
      <if test="record.releasedate != null" >
        releasedate = #{record.releasedate,jdbcType=VARCHAR},
      </if>
      <if test="record.overdate != null" >
        overdate = #{record.overdate,jdbcType=VARCHAR},
      </if>
      <if test="record.clipstatus != null" >
        clipstatus = #{record.clipstatus,jdbcType=INTEGER},
      </if>
      <if test="record.clipoutdate != null" >
        clipoutdate = #{record.clipoutdate,jdbcType=VARCHAR},
      </if>
      <if test="record.ponumber != null" >
        ponumber = #{record.ponumber,jdbcType=VARCHAR},
      </if>
      <if test="record.assemblyline != null" >
        assemblyline = #{record.assemblyline,jdbcType=VARCHAR},
      </if>
      <if test="record.outlinetime != null" >
        outlinetime = #{record.outlinetime,jdbcType=VARCHAR},
      </if>
      <if test="record.outnumber != null" >
        outnumber = #{record.outnumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_cliprecord
    set cliprecordid = #{record.cliprecordid,jdbcType=INTEGER},
      salesorder = #{record.salesorder,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=Double},
      numbers = #{record.numbers,jdbcType=Double},
      stocknumber = #{record.stocknumber,jdbcType=VARCHAR},
      stockname = #{record.stockname,jdbcType=VARCHAR},
      stockshuliang = #{record.stockshuliang,jdbcType=Double},
      clipdate = #{record.clipdate,jdbcType=VARCHAR},
      bedtime = #{record.bedtime,jdbcType=VARCHAR},
      cengshu = #{record.cengshu,jdbcType=INTEGER},
      pulldate = #{record.pulldate,jdbcType=VARCHAR},
      releasedate = #{record.releasedate,jdbcType=VARCHAR},
      overdate = #{record.overdate,jdbcType=VARCHAR},
      clipstatus = #{record.clipstatus,jdbcType=INTEGER},
      clipoutdate = #{record.clipoutdate,jdbcType=VARCHAR},
      ponumber = #{record.ponumber,jdbcType=VARCHAR},
      assemblyline = #{record.assemblyline,jdbcType=VARCHAR},
      outlinetime = #{record.outlinetime,jdbcType=VARCHAR},
      outnumber = #{record.outnumber,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Tab_cliprecord" >
    update tab_cliprecord
    <set >
      <if test="salesorder != null" >
        salesorder = #{salesorder,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=Double},
      </if>
      <if test="numbers != null" >
        numbers = #{numbers,jdbcType=Double},
      </if>
      <if test="stocknumber != null" >
        stocknumber = #{stocknumber,jdbcType=VARCHAR},
      </if>
      <if test="stockname != null" >
        stockname = #{stockname,jdbcType=VARCHAR},
      </if>
      <if test="stockshuliang != null" >
        stockshuliang = #{stockshuliang,jdbcType=Double},
      </if>
      <if test="clipdate != null" >
        clipdate = #{clipdate,jdbcType=VARCHAR},
      </if>
      <if test="bedtime != null" >
        bedtime = #{bedtime,jdbcType=VARCHAR},
      </if>
      <if test="cengshu != null" >
        cengshu = #{cengshu,jdbcType=INTEGER},
      </if>
      <if test="pulldate != null" >
        pulldate = #{pulldate,jdbcType=VARCHAR},
      </if>
      <if test="releasedate != null" >
        releasedate = #{releasedate,jdbcType=VARCHAR},
      </if>
      <if test="overdate != null" >
        overdate = #{overdate,jdbcType=VARCHAR},
      </if>
      <if test="clipstatus != null" >
        clipstatus = #{clipstatus,jdbcType=INTEGER},
      </if>
      <if test="clipoutdate != null" >
        clipoutdate = #{clipoutdate,jdbcType=VARCHAR},
      </if>
      <if test="ponumber != null" >
        ponumber = #{ponumber,jdbcType=VARCHAR},
      </if>
      <if test="assemblyline != null" >
        assemblyline = #{assemblyline,jdbcType=VARCHAR},
      </if>
      <if test="outlinetime != null" >
        outlinetime = #{outlinetime,jdbcType=VARCHAR},
      </if>
      <if test="outnumber != null" >
        outnumber = #{outnumber,jdbcType=INTEGER},
      </if>
    </set>
    where cliprecordid = #{cliprecordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Tab_cliprecord" >
    update tab_cliprecord
    set salesorder = #{salesorder,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      size = #{size,jdbcType=Double},
      numbers = #{numbers,jdbcType=Double},
      stocknumber = #{stocknumber,jdbcType=VARCHAR},
      stockname = #{stockname,jdbcType=VARCHAR},
      stockshuliang = #{stockshuliang,jdbcType=Double},
      clipdate = #{clipdate,jdbcType=VARCHAR},
      bedtime = #{bedtime,jdbcType=VARCHAR},
      cengshu = #{cengshu,jdbcType=INTEGER},
      pulldate = #{pulldate,jdbcType=VARCHAR},
      releasedate = #{releasedate,jdbcType=VARCHAR},
      overdate = #{overdate,jdbcType=VARCHAR},
      clipstatus = #{clipstatus,jdbcType=INTEGER},
      clipoutdate = #{clipoutdate,jdbcType=VARCHAR},
      ponumber = #{ponumber,jdbcType=VARCHAR},
      assemblyline = #{assemblyline,jdbcType=VARCHAR},
      outlinetime = #{outlinetime,jdbcType=VARCHAR},
      outnumber = #{outnumber,jdbcType=INTEGER}
    where cliprecordid = #{cliprecordid,jdbcType=INTEGER}
  </update>
</mapper>