<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.Tab_plantypeMapper" >
  <resultMap id="BaseResultMap" type="Tab_plantype" >
    <id column="plantypeid" property="plantypeid" jdbcType="INTEGER" />
    <result column="describle" property="describle" jdbcType="VARCHAR" />
    <result column="setdate" property="setdate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    plantypeid, describle, setdate, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="Tab_plantypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_plantype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_plantype
    where plantypeid = #{plantypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_plantype
    where plantypeid = #{plantypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="Tab_plantypeExample" >
    delete from tab_plantype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="Tab_plantype" >
    insert into tab_plantype (plantypeid, describle, setdate, 
      remark)
    values (#{plantypeid,jdbcType=INTEGER}, #{describle,jdbcType=VARCHAR}, #{setdate,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Tab_plantype" >
    insert into tab_plantype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="plantypeid != null" >
        plantypeid,
      </if>
      <if test="describle != null" >
        describle,
      </if>
      <if test="setdate != null" >
        setdate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="plantypeid != null" >
        #{plantypeid,jdbcType=INTEGER},
      </if>
      <if test="describle != null" >
        #{describle,jdbcType=VARCHAR},
      </if>
      <if test="setdate != null" >
        #{setdate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="Tab_plantypeExample" resultType="java.lang.Integer" >
    select count(*) from tab_plantype
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_plantype
    <set >
      <if test="record.plantypeid != null" >
        plantypeid = #{record.plantypeid,jdbcType=INTEGER},
      </if>
      <if test="record.describle != null" >
        describle = #{record.describle,jdbcType=VARCHAR},
      </if>
      <if test="record.setdate != null" >
        setdate = #{record.setdate,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_plantype
    set plantypeid = #{record.plantypeid,jdbcType=INTEGER},
      describle = #{record.describle,jdbcType=VARCHAR},
      setdate = #{record.setdate,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="Tab_plantype" >
    update tab_plantype
    <set >
      <if test="describle != null" >
        describle = #{describle,jdbcType=VARCHAR},
      </if>
      <if test="setdate != null" >
        setdate = #{setdate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where plantypeid = #{plantypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Tab_plantype" >
    update tab_plantype
    set describle = #{describle,jdbcType=VARCHAR},
      setdate = #{setdate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where plantypeid = #{plantypeid,jdbcType=INTEGER}
  </update>
</mapper>