<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.Tab_timeinfoMapper" >
  <resultMap id="BaseResultMap" type="Tab_timeinfo" >
    <id column="timeid" property="timeid" jdbcType="INTEGER" />
    <result column="orderdetailid" property="orderdetailid" jdbcType="INTEGER" />
    <result column="orderno" property="orderno" jdbcType="VARCHAR" />
    <result column="uppeople" property="uppeople" jdbcType="VARCHAR" />
    <result column="uptime" property="uptime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    timeid, orderdetailid, orderno, uppeople, uptime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="Tab_timeinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_timeinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_timeinfo
    where timeid = #{timeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_timeinfo
    where timeid = #{timeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="Tab_timeinfoExample" >
    delete from tab_timeinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="Tab_timeinfo" >
    insert into tab_timeinfo (timeid, orderdetailid, orderno, 
      uppeople, uptime)
    values (#{timeid,jdbcType=INTEGER}, #{orderdetailid,jdbcType=INTEGER}, #{orderno,jdbcType=VARCHAR}, 
      #{uppeople,jdbcType=VARCHAR}, #{uptime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Tab_timeinfo" >
    insert into tab_timeinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="timeid != null" >
        timeid,
      </if>
      <if test="orderdetailid != null" >
        orderdetailid,
      </if>
      <if test="orderno != null" >
        orderno,
      </if>
      <if test="uppeople != null" >
        uppeople,
      </if>
      <if test="uptime != null" >
        uptime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="timeid != null" >
        #{timeid,jdbcType=INTEGER},
      </if>
      <if test="orderdetailid != null" >
        #{orderdetailid,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="uppeople != null" >
        #{uppeople,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null" >
        #{uptime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="Tab_timeinfoExample" resultType="java.lang.Integer" >
    select count(*) from tab_timeinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_timeinfo
    <set >
      <if test="record.timeid != null" >
        timeid = #{record.timeid,jdbcType=INTEGER},
      </if>
      <if test="record.orderdetailid != null" >
        orderdetailid = #{record.orderdetailid,jdbcType=INTEGER},
      </if>
      <if test="record.orderno != null" >
        orderno = #{record.orderno,jdbcType=VARCHAR},
      </if>
      <if test="record.uppeople != null" >
        uppeople = #{record.uppeople,jdbcType=VARCHAR},
      </if>
      <if test="record.uptime != null" >
        uptime = #{record.uptime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_timeinfo
    set timeid = #{record.timeid,jdbcType=INTEGER},
      orderdetailid = #{record.orderdetailid,jdbcType=INTEGER},
      orderno = #{record.orderno,jdbcType=VARCHAR},
      uppeople = #{record.uppeople,jdbcType=VARCHAR},
      uptime = #{record.uptime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="Tab_timeinfo" >
    update tab_timeinfo
    <set >
      <if test="orderdetailid != null" >
        orderdetailid = #{orderdetailid,jdbcType=INTEGER},
      </if>
      <if test="orderno != null" >
        orderno = #{orderno,jdbcType=VARCHAR},
      </if>
      <if test="uppeople != null" >
        uppeople = #{uppeople,jdbcType=VARCHAR},
      </if>
      <if test="uptime != null" >
        uptime = #{uptime,jdbcType=VARCHAR},
      </if>
    </set>
    where timeid = #{timeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Tab_timeinfo" >
    update tab_timeinfo
    set orderdetailid = #{orderdetailid,jdbcType=INTEGER},
      orderno = #{orderno,jdbcType=VARCHAR},
      uppeople = #{uppeople,jdbcType=VARCHAR},
      uptime = #{uptime,jdbcType=VARCHAR}
    where timeid = #{timeid,jdbcType=INTEGER}
  </update>
</mapper>