<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.Tab_usematerialMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Tab_usematerial" >
    <id column="usematerialid" property="usematerialid" jdbcType="INTEGER" />
    <result column="superlierid" property="superlierid" jdbcType="INTEGER" />
    <result column="sampleno" property="sampleno" jdbcType="VARCHAR" />
    <result column="materialtype" property="materialtype" jdbcType="VARCHAR" />
    <result column="garmentparts" property="garmentparts" jdbcType="VARCHAR" />
    <result column="materialno" property="materialno" jdbcType="VARCHAR" />
    <result column="materialname" property="materialname" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="colorno" property="colorno" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="madenum" property="madenum" jdbcType="Double" />
    <result column="singlenum" property="singlenum" jdbcType="Double" />
    <result column="loss" property="loss" jdbcType="Double" />
    <result column="totalconsumption" property="totalconsumption" jdbcType="Double" />
    <result column="price" property="price" jdbcType="Double" />
    <result column="submitnum" property="submitnum" jdbcType="Double" />
    <result column="uncomittednum" property="uncomittednum" jdbcType="Double" />
    <result column="autidionstate" property="autidionstate" jdbcType="INTEGER" />
    <result column="pono" property="pono" jdbcType="VARCHAR" />
    <result column="innum" property="innum" jdbcType="Double" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    usematerialid, superlierid, sampleno, materialtype, garmentparts, materialno, materialname, 
    color, colorno, spec, unit, madenum, singlenum, loss, totalconsumption, price, submitnum, 
    uncomittednum, autidionstate, pono, innum
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.demo.entity.Tab_usematerialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tab_usematerial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tab_usematerial
    where usematerialid = #{usematerialid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tab_usematerial
    where usematerialid = #{usematerialid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.entity.Tab_usematerialExample" >
    delete from tab_usematerial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Tab_usematerial" >
    insert into tab_usematerial (usematerialid, superlierid, sampleno, 
      materialtype, garmentparts, materialno, 
      materialname, color, colorno, 
      spec, unit, madenum, 
      singlenum, loss, totalconsumption, 
      price, submitnum, uncomittednum, 
      autidionstate, pono, innum
      )
    values (#{usematerialid,jdbcType=INTEGER}, #{superlierid,jdbcType=INTEGER}, #{sampleno,jdbcType=VARCHAR}, 
      #{materialtype,jdbcType=VARCHAR}, #{garmentparts,jdbcType=VARCHAR}, #{materialno,jdbcType=VARCHAR}, 
      #{materialname,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, #{colorno,jdbcType=VARCHAR}, 
      #{spec,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{madenum,jdbcType=Double},
      #{singlenum,jdbcType=Double}, #{loss,jdbcType=Double}, #{totalconsumption,jdbcType=Double},
      #{price,jdbcType=Double}, #{submitnum,jdbcType=Double}, #{uncomittednum,jdbcType=Double},
      #{autidionstate,jdbcType=INTEGER}, #{pono,jdbcType=VARCHAR}, #{innum,jdbcType=Double}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Tab_usematerial" >
    insert into tab_usematerial
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usematerialid != null" >
        usematerialid,
      </if>
      <if test="superlierid != null" >
        superlierid,
      </if>
      <if test="sampleno != null" >
        sampleno,
      </if>
      <if test="materialtype != null" >
        materialtype,
      </if>
      <if test="garmentparts != null" >
        garmentparts,
      </if>
      <if test="materialno != null" >
        materialno,
      </if>
      <if test="materialname != null" >
        materialname,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="colorno != null" >
        colorno,
      </if>
      <if test="spec != null" >
        spec,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="madenum != null" >
        madenum,
      </if>
      <if test="singlenum != null" >
        singlenum,
      </if>
      <if test="loss != null" >
        loss,
      </if>
      <if test="totalconsumption != null" >
        totalconsumption,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="submitnum != null" >
        submitnum,
      </if>
      <if test="uncomittednum != null" >
        uncomittednum,
      </if>
      <if test="autidionstate != null" >
        autidionstate,
      </if>
      <if test="pono != null" >
        pono,
      </if>
      <if test="innum != null" >
        innum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usematerialid != null" >
        #{usematerialid,jdbcType=INTEGER},
      </if>
      <if test="superlierid != null" >
        #{superlierid,jdbcType=INTEGER},
      </if>
      <if test="sampleno != null" >
        #{sampleno,jdbcType=VARCHAR},
      </if>
      <if test="materialtype != null" >
        #{materialtype,jdbcType=VARCHAR},
      </if>
      <if test="garmentparts != null" >
        #{garmentparts,jdbcType=VARCHAR},
      </if>
      <if test="materialno != null" >
        #{materialno,jdbcType=VARCHAR},
      </if>
      <if test="materialname != null" >
        #{materialname,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="colorno != null" >
        #{colorno,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="madenum != null" >
        #{madenum,jdbcType=Double},
      </if>
      <if test="singlenum != null" >
        #{singlenum,jdbcType=Double},
      </if>
      <if test="loss != null" >
        #{loss,jdbcType=Double},
      </if>
      <if test="totalconsumption != null" >
        #{totalconsumption,jdbcType=Double},
      </if>
      <if test="price != null" >
        #{price,jdbcType=Double},
      </if>
      <if test="submitnum != null" >
        #{submitnum,jdbcType=Double},
      </if>
      <if test="uncomittednum != null" >
        #{uncomittednum,jdbcType=Double},
      </if>
      <if test="autidionstate != null" >
        #{autidionstate,jdbcType=INTEGER},
      </if>
      <if test="pono != null" >
        #{pono,jdbcType=VARCHAR},
      </if>
      <if test="innum != null" >
        #{innum,jdbcType=Double},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.entity.Tab_usematerialExample" resultType="java.lang.Integer" >
    select count(*) from tab_usematerial
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tab_usematerial
    <set >
      <if test="record.usematerialid != null" >
        usematerialid = #{record.usematerialid,jdbcType=INTEGER},
      </if>
      <if test="record.superlierid != null" >
        superlierid = #{record.superlierid,jdbcType=INTEGER},
      </if>
      <if test="record.sampleno != null" >
        sampleno = #{record.sampleno,jdbcType=VARCHAR},
      </if>
      <if test="record.materialtype != null" >
        materialtype = #{record.materialtype,jdbcType=VARCHAR},
      </if>
      <if test="record.garmentparts != null" >
        garmentparts = #{record.garmentparts,jdbcType=VARCHAR},
      </if>
      <if test="record.materialno != null" >
        materialno = #{record.materialno,jdbcType=VARCHAR},
      </if>
      <if test="record.materialname != null" >
        materialname = #{record.materialname,jdbcType=VARCHAR},
      </if>
      <if test="record.color != null" >
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.colorno != null" >
        colorno = #{record.colorno,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null" >
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.madenum != null" >
        madenum = #{record.madenum,jdbcType=Double},
      </if>
      <if test="record.singlenum != null" >
        singlenum = #{record.singlenum,jdbcType=Double},
      </if>
      <if test="record.loss != null" >
        loss = #{record.loss,jdbcType=Double},
      </if>
      <if test="record.totalconsumption != null" >
        totalconsumption = #{record.totalconsumption,jdbcType=Double},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=Double},
      </if>
      <if test="record.submitnum != null" >
        submitnum = #{record.submitnum,jdbcType=Double},
      </if>
      <if test="record.uncomittednum != null" >
        uncomittednum = #{record.uncomittednum,jdbcType=Double},
      </if>
      <if test="record.autidionstate != null" >
        autidionstate = #{record.autidionstate,jdbcType=INTEGER},
      </if>
      <if test="record.pono != null" >
        pono = #{record.pono,jdbcType=VARCHAR},
      </if>
      <if test="record.innum != null" >
        innum = #{record.innum,jdbcType=Double},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tab_usematerial
    set usematerialid = #{record.usematerialid,jdbcType=INTEGER},
      superlierid = #{record.superlierid,jdbcType=INTEGER},
      sampleno = #{record.sampleno,jdbcType=VARCHAR},
      materialtype = #{record.materialtype,jdbcType=VARCHAR},
      garmentparts = #{record.garmentparts,jdbcType=VARCHAR},
      materialno = #{record.materialno,jdbcType=VARCHAR},
      materialname = #{record.materialname,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR},
      colorno = #{record.colorno,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      madenum = #{record.madenum,jdbcType=Double},
      singlenum = #{record.singlenum,jdbcType=Double},
      loss = #{record.loss,jdbcType=Double},
      totalconsumption = #{record.totalconsumption,jdbcType=Double},
      price = #{record.price,jdbcType=Double},
      submitnum = #{record.submitnum,jdbcType=Double},
      uncomittednum = #{record.uncomittednum,jdbcType=Double},
      autidionstate = #{record.autidionstate,jdbcType=INTEGER},
      pono = #{record.pono,jdbcType=VARCHAR},
      innum = #{record.innum,jdbcType=Double}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Tab_usematerial" >
    update tab_usematerial
    <set >
      <if test="superlierid != null" >
        superlierid = #{superlierid,jdbcType=INTEGER},
      </if>
      <if test="sampleno != null" >
        sampleno = #{sampleno,jdbcType=VARCHAR},
      </if>
      <if test="materialtype != null" >
        materialtype = #{materialtype,jdbcType=VARCHAR},
      </if>
      <if test="garmentparts != null" >
        garmentparts = #{garmentparts,jdbcType=VARCHAR},
      </if>
      <if test="materialno != null" >
        materialno = #{materialno,jdbcType=VARCHAR},
      </if>
      <if test="materialname != null" >
        materialname = #{materialname,jdbcType=VARCHAR},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="colorno != null" >
        colorno = #{colorno,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="madenum != null" >
        madenum = #{madenum,jdbcType=Double},
      </if>
      <if test="singlenum != null" >
        singlenum = #{singlenum,jdbcType=Double},
      </if>
      <if test="loss != null" >
        loss = #{loss,jdbcType=Double},
      </if>
      <if test="totalconsumption != null" >
        totalconsumption = #{totalconsumption,jdbcType=Double},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=Double},
      </if>
      <if test="submitnum != null" >
        submitnum = #{submitnum,jdbcType=Double},
      </if>
      <if test="uncomittednum != null" >
        uncomittednum = #{uncomittednum,jdbcType=Double},
      </if>
      <if test="autidionstate != null" >
        autidionstate = #{autidionstate,jdbcType=INTEGER},
      </if>
      <if test="pono != null" >
        pono = #{pono,jdbcType=VARCHAR},
      </if>
      <if test="innum != null" >
        innum = #{innum,jdbcType=Double},
      </if>
    </set>
    where usematerialid = #{usematerialid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Tab_usematerial" >
    update tab_usematerial
    set superlierid = #{superlierid,jdbcType=INTEGER},
      sampleno = #{sampleno,jdbcType=VARCHAR},
      materialtype = #{materialtype,jdbcType=VARCHAR},
      garmentparts = #{garmentparts,jdbcType=VARCHAR},
      materialno = #{materialno,jdbcType=VARCHAR},
      materialname = #{materialname,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      colorno = #{colorno,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      madenum = #{madenum,jdbcType=Double},
      singlenum = #{singlenum,jdbcType=Double},
      loss = #{loss,jdbcType=Double},
      totalconsumption = #{totalconsumption,jdbcType=Double},
      price = #{price,jdbcType=Double},
      submitnum = #{submitnum,jdbcType=Double},
      uncomittednum = #{uncomittednum,jdbcType=Double},
      autidionstate = #{autidionstate,jdbcType=INTEGER},
      pono = #{pono,jdbcType=VARCHAR},
      innum = #{innum,jdbcType=Double}
    where usematerialid = #{usematerialid,jdbcType=INTEGER}
  </update>
</mapper>